@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{box-sizing: border-box; margin:0; padding:0;}

body{font-family:'Roboto';}

.header{
    display: flex;
     justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    
    padding: 10px 80px;
    

}

.logo img{
    height: 45px;
    width: auto;
    object-fit: contain;
}

.left-links, .right-links{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 200;

}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.right-links ul li  a, .right-links ul li a:visited{
    color: beige;
    text-decoration: none;}